<button (click)="addEntry()">Add Entry</button>
<button (click)="removeEntry()">Remove Entry</button>
<button (click)="alternate = !alternate">Toggle Alternate</button>
<button (click)="toggle = !toggle">Toggle Toggle</button>
<button (click)="color = !color">Toggle Color</button>
<button (click)="size = size + 10">Increase size</button>
<button (click)="size = size - 10">Decrease size</button>
<button (click)="toggleSide()">Toggle Side</button>
<button (click)="display = !display">Toggle display</button>

<button (click)="mobileWidthThreshold = mobileWidthThreshold + 10">Increase Mobile Threshold</button>
<button (click)="mobileWidthThreshold = mobileWidthThreshold - 10">Decrease Mobile Threshold</button> 
Mobile Threshold: {{mobileWidthThreshold}}

<button (click)="filterByYear('2018')">Filter 2018</button>
<button (click)="filterByYear('2019')">Filter 2019</button>
<button (click)="filterByYear('all')">All</button>

<div class="container" *ngIf="display">
  Number of Entries: {{entries.length}}
    <ng-timeline [toggle]="toggle" [alternate]="alternate" [focusOnOpen]="false" [side]="side" [mobileWidthThreshold]="mobileWidthThreshold">
        <ng-timeline-entry *ngFor="let entry of entries; let i = index; trackBy: trackByFunction" (expand)="onExpand($event, i)" [hideContent]=false>
          <ng-timeline-entry-header>
            <div>
              <span>{{entry.year}}</span> || 
              {{entry.header}}
            </div>
          </ng-timeline-entry-header>
          <ng-timeline-entry-content>
            <div>{{entry.content}}</div>
            <div>{{entry.content}}</div>
            <div>{{entry.content}}</div>
          </ng-timeline-entry-content>
          <ng-timeline-entry-dot [class]="color ? 'primary' : 'accent'" [size]="size">
              <mat-icon>home</mat-icon>  
          </ng-timeline-entry-dot>
          <ng-timeline-entry-side>{{entry.year}}</ng-timeline-entry-side>
        </ng-timeline-entry>
      </ng-timeline>
</div>
