@import '~@angular/material/theming';

ng-timeline-entry {
    display: block;
    position: relative;
    margin-bottom: 50px;
    width: calc(50% - 5px);

    &.alternate {
        margin-left: calc(50% + 5px);
    }

    &.mobile {
        width: calc(100% - 30px);
        margin-left: 60px;
    }

    & .ng-timeline-entry-card {
        background-color: rgb(240, 240, 240);

         & .ng-timeline-entry-card-header {
             position: relative;
             background-color: rgb(230, 230, 230);
         }
    }

    & .ng-timeline-entry-connector-line {
        position: absolute;
        left: -40px;
        top: 23px;
        width: 40px;
        border: solid 1px rgba(0, 0, 0, 0.12);
        z-index: -1;
    }
}
