ng-timeline-entry-side {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    z-index: 999;
    text-align: center;

    &.alternate {
        left: -100%;
    }

    &.mobile {
        top: -40px;
        left: -69px;
        width: 53px;
        background-color: white;
        border-radius: 16px;
        border: solid 1px rgba(0, 0, 0, 0.12);
        color: #212121;
        font-size: 16px;
        padding: 2px;
        font-weight: 500;
    }
}